/* body  */
body{
    margin: 0px 4px;
}

/* Container  */
container{
    margin: 0px;
}

/* Container Left  */
.container__left{
    width: 15%;
    /* border: 2px solid black; */
    float: left;
    background-color: #cce3de;
    height: 800px;
}

/* Navigation */
 nav h2{
    text-align: center;
 }
nav div a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.box1{
    width: 94.5%;
    height: 35px;
    /* border: 2px solid black; */
    margin: 20px 0px;
    padding: 15px 0px 5px 10px;
}
.box2{
    text-align: center;
    padding-top: 10px;
}
.box1:hover{
    background-color: #a4c3b2;
}



/* Contianer Right  */
.container__right{
    width: 84%;
    height: 800px;
    /* border: 2px solid black; */
    float: right;
}

/* Section  */
section h2{
    text-align: center;
}
.section__table{
    display: flex;
    justify-content: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    padding: 15px 65px;
    background-color: #cce3de;;
}
td{
    padding: 15px 5px;
}
.edit button{
    padding: 7px 25px;
    border-radius: 8px;
    background-color: #a4c3b2;
    font-weight: bolder;
    font-size: 1.1em;
}
.v button{
    border-radius: 8px;
    background-color: #a4c3b2;
    font-weight: bolder;
    font-size: 1.1em;
}
.visible button{
    padding: 7px 25px;
    border-radius: 8px;
    background-color: #00cc00;
    font-weight: bolder;
    font-size: 1.1em;
}
.x button{
    border-radius: 5px;
    background-color: #cc0000;
    font-weight: bolder;
    font-size: 1.1em;
}

/* Aside  */
aside h2{
    text-align: center;
}
.aside__box{
    display: flex;
    justify-content: center;
}
.aside__btn{
    margin: 0px 10px;
    padding: 10px 50px;
    border-radius: 8px;
    background-color: #a4c3b2;
    font-weight: bolder;
    font-size: 1.1em;

}

/* Article  */
article h2{
    text-align: center;
}
.article__box{
    display: flex;
    justify-content: center;
}
article input{
    padding: 10px 120px 10px 10px;
}
article button{
    padding: 10px 120px;
    background-color: #a4c3b2;
    font-weight: bolder;
    font-size: 1.2em;

}
.pad{
    margin: 5px;
    border-radius: 7px;
}

/* Footer  */
footer h2{
    text-align: center;
}
.footer__box{
    margin-left: 200px;
}
footer label{
    padding-right: 10px;
}
footer select{
    padding: 5px 70px;
}
.btn{
    display: flex;
    justify-content: center;
}
footer button{
    padding: 10px 120px;
    background-color: #a4c3b2;
    font-weight: bolder;
    border-radius: 8px;
    font-size: 1.1em;
}
